@* ShowDept.cshtml@
@* クラスの名前空間を指定する(C#と同じ) *@
@using WebApp_Src.Presentations.ViewModels
@* View が受け取るデータ型（ViewModel）を宣言asp-for はこの型のプロパティと結びつける *@
@model DepartmentListViewModel;
@{
    ViewData["Title"] = "部門一覧";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6">
            @* 送信先はControllerのConfirm()、POSTは入力値を送信する*@
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>
                            部門ID
                        </th>
                        <th>
                            部門名
                        </th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var dept in Model.Departments)
                    {
                        <tr>
                            <td>@dept.Value</td>
                            <td>@dept.Text</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-center mt-3">
                <form asp-action="Back" asp-controller="DepartmentList" method="post">
                    <button type="submit" class="btn btn-secondary">戻る</button>
                </form>
            </div>

        </div>
    </div>
</div>